## we can do scrapy startproject myproject in cmd or write the same with ! in jupyter notebook

In [2]:
!scrapy startproject myproject

New Scrapy project 'myproject', using template directory 'c:\users\yash\anaconda3\lib\site-packages\scrapy\templates\project', created in:
    G:\coding blocks\machine-learning\Web Scrapping\Book store scrapping\myproject

You can start your first spider with:
    cd myproject
    scrapy genspider example example.com

### to run a srapy shell use "scrapy shell http://books.toscrape.com/catalogue/page-2.html" any wesite link

### to run a scrapy code use "scrapy crawl book_scrape -o y_scrapped.json"
### run this code in myproject folder in cmd
### book_scrape is name of my spider in book_site_spyder.py and y_predicted.json is only to copy the yield output

# after this i will convert this json in csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_json('myproject/y_scrapped.json')

In [4]:
df.head()

,image_url,book_title,product_price
0,media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...,A Light in the Attic,£51.77
1,media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...,Tipping the Velvet,£53.74
2,media/cache/3e/ef/3eef99c9d9adef34639f51066202...,Soumission,£50.10
3,media/cache/32/51/3251cf3a3412f53f339e42cac213...,Sharp Objects,£47.82
4,media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...,Sapiens: A Brief History of Humankind,£54.23

In [5]:
df.to_csv('y_scrapped_image_title_price.csv',index=False)